.language-button {
  background-color: transparent;
  border-style: none;
}

.ActiveTab {
  border-radius: 10px;
  border-style: solid;
  color: #0284c7;
  font-weight: 600;
  border-color: #0284c7;
  cursor: pointer;
}
